body{
    font-family: Lato, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f5f5f5;
}
nav{
    background-color: #1d1d1d;
    color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 32px;
    /* position: fixed; */
    width: 100%;
    /* z-index: 1; */
}
nav ul{
    display: flex;
    align-items: center;
    margin-bottom: 0;
}
nav li {
    list-style: none;
    padding-right: 16px;
}
.menu-image{
    width: 24px;
}
nav li:hover{
    color: #e006a3;
    text-decoration: underline;
    cursor: pointer;
}
.title{
    font-weight: bold;
    width: 80%;
    margin: 0 auto;
    padding: 16px 0;
}
.subtitle{
    font-size: 0.75rem;
    font-weight: 500;
    color: #b2b2b2;
}
.title_pages{
    font-weight: bold;
    padding: 16px 0;
    font-size: 4rem;
}
.subtitle_pages{
    font-size:1rem;
    font-weight: 500;
    color: #b2b2b2;
}
header{
    background-color: #d4d4d4;
    background-image: url(./assets/img/body/Frame\ 102.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    padding-top: 48px;
    padding-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile_img{
    background-image: url(./assets/img/body/profile_2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 225px;
    height: 225px;
    border-radius: 100%;
    padding: 16px;
}
.main-info{
    background-color: rgba(100,100,100,0.80);
    box-shadow: 4px 8px 16px 0 white;
    border-radius: 8px;
    width: fit-content;
    padding: 8px 16px;
    margin: 0 auto;
    color: #f5f5f5;
}
.review{
    font-size: 12px;
}
.description{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    background-color: rgba(100,100,100,0.80);
    box-shadow: 4px 8px 16px 2px rgba(255, 255, 255, 0.155);
    border-radius: 8px;
    /* border: 0.5px solid white; */
    margin: 0 auto;
    margin-top: 2rem;
    padding: 16px;
    border-radius: 8px;
    color: #f5f5f5;
}
.name{
    font-weight: bolder;
}
.description p{
    width: 65%;
    text-align: justify;
}

.about{
    background: #1d1d1d;
    color: #f5f5f5;
    padding: 4rem 0;
    /* height: 100vh; */
}
#projects{
    /* background-color: #1d1d1d; */
    background: linear-gradient(#1d1d1d, #2d2d2d);
    color: #f5f5f5;
    padding: 4rem 0 0 0;
    /* height: 100vh; */
}
.project-cards{
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}
.card{
    padding: 8px;
    box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.25);
}
.project-img{
    height: 200px;
    width: 100%;
    margin: 0 auto;
    border-radius: 8px;
    border: 2px solid #df13a3;
}
.flip-card{
    border: 1px solid #13c9c4;
    border-radius: 16px;
    padding: 8px;
    height: 220px;
    width: 250px;
}
.flip-card:hover .flip-card-inner{
    transform: rotateY(180deg);
}
.flip-card-inner{
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.front-face, .back-face{
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.front-face{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.back-face{
    position: absolute;
    top: 0;
    text-align: left;
    width: 100% ;
    transform: rotateY(180deg);
}
.back-face ul li{
    font-size: 12px;
}
.back-face p{
    font-size: 12px;
    /* text-align: justify; */
}
.btn{
    height: 32px;
    width: fit-content;
    display: flex;
    align-items: center;
    margin-top: 16px;
}
.btn-primary{
    background-color: #00ffef;
    border: none;
    color: #1d1d1d;
    margin: 0 auto;
}
.btn-primary:hover{
    background-color: #00dbce;
    color: #1d1d1d;
    border: none;
}
.btn-primary:active{
    background-color: #00dbce;
    color: #1d1d1d;
    border: none;
}
.btn-secondary{
    display: flex;
    justify-content: center;
    padding: 24px;
    border-radius: 20px;
    color: #f5f5f5;
    background-color: #ff0aba;
    border: none;
    width: 250px;
    font-weight: 600;
    letter-spacing: 2px;
    -webkit-box-pack: center;
    text-transform: uppercase;
    box-shadow: 4px 4px 6px 0 #c9c9c9;
}
.btn-secondary:hover{
    display: flex;
    justify-content: center;
    padding: 24px;
    border-radius: 20px;
    color: #1d1d1d;
    background-color: #e006a3;
    border: none;
    width: 250px;
    font-weight: 600;
    letter-spacing: 2px;
    -webkit-box-pack: center;
    text-transform: uppercase;
    box-shadow: 4px 4px 6px 0 #c9c9c9;
}
.btn-secondary:active{
    background-color: #e006a3;
    color: #1d1d1d;
    border: none;
}
/* .btn:focus{
    background-color: #00dbce;
    color: #1d1d1d;
    border: none;
    box-shadow: none;
} */
#skills{
    /* width: 80%;
    margin: 0 auto; */
    /* background-color: #2d2d2d; */
    background: linear-gradient(#2d2d2d, #3d3d3d);
    color: #f5f5f5;
    padding: 4rem 0 0 0 ;
    display: flex;
    flex-wrap: wrap;
}
.flip-skills{
    border: 1px solid #cecece;
    border-radius: 8px;
    height: 250px;
    width: 200px;
    color: #1d1d1d;
    background-color: #13c9c4;
}
.flip-skills:hover .flip-skills-inner{
    transform: rotateY(180deg);
}
.flip-skills-inner{
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
}
.front-face-skills, .back-face-skills{
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.front-face-skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.front-face-skills h3{
    background-color: #f5f5f5;
    border-radius: 7px 7px 0 0 ;
    padding: 16px 0;
    font-family: fantasy;
}
.back-face-skills{
    position: absolute;
    top: 1rem;
    text-align: left;
    width: 100% ;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    height: 220px;
}
.back-face-skills ul li{
    font-size: 16px;
}
#contact{
    background-color: #3d3d3d;
    color: #f5f5f5;
    padding: 4rem 0 0 0;
}
.img-contact{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding-bottom: 16px;
}
.img-contact div{
    margin: 0 auto;
}
.contactImg{
    width: 80px;
}
footer{
    text-align: center;
    background-color: #5b2759;
    color: #f5f5f5;
    padding: 16px 0;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.container-title{
    padding-top: 50px;
}
.project-description{
    background-color: #e7e7e7;
    border-radius: 8px;
    padding: 16px;
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
}
.project-description img{
    width: 100%;
    margin-top: 8px;
    border-radius: 8px;
}
.divide{
    width: 50%;
}
.divide-right{
    padding: 0 16px 0 0;
}
.project-title{
    font-weight: 600;
}
.img-4{
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    width: 100%;
}
.img-4 img{
    width: 23%;
    border-radius: 8px;
}
.img-5{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 8px;
}
.img-5 img{
    width: 19%;
    border-radius: 8px;
}
.split{
    display: flex;
    
}
.split div{
    display: flex;
    justify-content: space-between;
    width: 49%;
    width: 100%;
}
.split div img{
    width: 100%;
}
.resume{
    /* width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly; */
    padding: 1.5rem 0;
}
.resume a{
    background-color: #e006a3;
    padding: 8px 16px;
    border-radius: 8px;
    color: #f5f5f5;
    text-decoration: none;
    font-size: 1rem;
}
/* .dropdown-menu{
    display: block;
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.dropdown-menu a{
    list-style: none;
    padding: 8px 16px;
    border-bottom: 0.5px solid #5b2759;
    background-color: #1d1d1d;
    color: #f5f5f5;
    width: 100%;
} 
.dropdown-menu a:hover{
    list-style: none;
    padding: 8px 16px;
    border-bottom: 0.5px solid #e006a3;
    background-color: #3d3d3d;
    color: #e006a3;
} */


@media only screen and (max-width: 480px){
    nav{
        background-color: #1d1d1d;
        color: #f5f5f5;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 16px;
        position: fixed;
        width: 100%;
        z-index: 1;
    }
    header{
        background-image: url(./assets/img/body/Frame\ 103.png);
        padding-top: 80px;
        /* height: fit-content; */
        padding-bottom: 16px;
    }
    .profile_img{
        width: 235px;
        border-radius: 100%;
        padding: 16px;
    }
    .description{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 86%;
    }
    .description p{
        width: 95%;
        text-align: justify;
        font-size: 0.75rem;
    }
    nav ul{
        display: none;
    }
    .flip-card{
        border: 1px solid #cecece;
        border-radius: 8px;
        padding: 8px;
        width: 100%;
    }
    .flip-skills{
        /* border: 1px solid #cecece;
        border-radius: 8px;
        padding: 8px;
        height: 250px; */
        width: 100%;
        /* background-color: #f5f5f5;
        color: #1d1d1d; */
    }
    .container{
        width: 100%;
        margin: 0 auto;
    }
    .title_pages{
        font-weight: bold;
        padding: 16px 0;
        font-size: 2.25rem;
    }
    .btn-secondary{
        margin: 0 auto;
    }
    .project-description{
        display: block;
    }
    .divide{
        width: 100%;
    }
} 